  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  color: #000000;
  font-weight: 500;
  opacity: 0.9; 
}

h3 {
  color: #00060e;
  font-weight: 600;
  opacity: 0.8;
}
.logounutra{
  animation: pulsiranjelogoa 3000ms infinite;
}
main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #480655, #eb6cc1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.prozirno {
  background: rgb(0, 0, 0);
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(135, 61, 145, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}
.krug1,
.krug2 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.krug1 {
  top: 5%;
  right: 15%;
  animation: plogoa 2222ms infinite;
}
.krug2 {
  bottom: 5%;
  left: 10%;
  animation: plogoa 3333ms infinite;
}
.glavno {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}
.link h2 {
  padding: 0rem 2rem;
}

.imeservera {
  flex: 2;
}

.pro {
  background: linear-gradient(to right top, #833be0, #c36ceb);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  position: relative;
}

.pro img {
  position: absolute;
  top: -10%;
  right: 10%;
}
.pro h2 {
  width: 40%;
  color: white;
  font-weight: 600;
}

/*  */
.status {
  margin-bottom: 3rem;
}

.status input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 83%;
  padding: 0.5rem;
  border-radius: 2rem;
}

.imeservera {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.kartica {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

.traka {
  background: linear-gradient(to right top, #833be0, #c36ceb);
  width: 100%;
  height: 20%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
} 
.traka::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #833be0, #c36ceb;
  position: absolute;
  left: 100%;
}
.kartica-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postotak {
  font-weight: bold;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@-webkit-keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}

@keyframes pulsiranjelogoa {
0% 
{ 
  transform: scale(1.0) rotate3d(-1, 1, 0, 0deg);    
}
20% 
{ 
  transform: scale(1.05) rotate3d(-1, 1, 0, 0deg); 
}
100% 
{ 
  transform: scale(1.0) rotate3d(-1, 1, 0, 360deg);  
}

}

}
.sky {
  height: 100%;
  background: none repeat scroll 0 0 #34283F;
  color: #FFF;
  padding: 12px;
  font-family: Helvetica;
  display: block;
}

html, body {    
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}
.lelo{
  animation: shake 1.8s linear infinite;
}
@keyframes shake{
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(-1deg);
  }
  40%{
    transform: rotate(0deg);
  }
  60%{
    transform: rotate(-1deg);
  }
  80%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-1deg);
  }
}
@keyframes plogoa {
0% 
{ 
  transform: scale(1.0) rotate3d(-1, 1, 0, 0deg);    
}
20% 
{ 
  transform: scale(1.05) rotate3d(-1, 1, 0, 0deg); 
}

}

}